@{
    ViewData["Title"] = "Files";
}

<div class="text-center">
    <h3 class="display-6">Сайт для автоматического обновления программ</h3>
    <div>Данный сайт предназначен для автоматического пуша релизных версий программ на сервер с последующим автоматическим обновлением их у всех пользователей</div>
</div>
