@{
    ViewData["Title"] = "Вход";
}
<h1>@ViewData["Title"]</h1>

<div>
    <form method='post'>
        <p>
            <label>Login</label><br />
            <input name='login' />
        </p>
        <p>
            <label>Password</label><br />
            <input type='password' name='password' />
        </p>
        <input type='submit' value='Login' />
    </form>
</div>
